<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
 
  <title>Reminder-Motivational-Quotes</title>

  <!-- CSS elements style-->
  
  <!-- Styling CSS code-->
  <link  href="main.css" rel="stylesheet">

</head>

<div class="bg-amber-600  h-[55px]">
  <h1 class="text-white text-center text-2xl p-[10px]">Reminder Motivational Quotes</h1>
</div>
<body class="text-center  object-cover bg-cover bg-no-repeat " style= "background-image: url(images/dream.jpeg)">
  
