<%- include('partials/header') %>
<div>
<h1>Sorry sign up has failed please try again</h1>
<form action="/failure" class="failure" method="POST">
    <button type="submit" name="button" class="text-amber-600">Try Again</button>
</form>
</div>

</body>

</html>